html, body {
  height: 100%;
  width: 100%;
  background-image: url('https://www.pennington.com/-/media/Project/OneWeb/Pennington/Images/blog/seed/10-Surprising-Facts-About-Grass/grass_10surprising_header.jpg?h=480&iar=0&w=1140&hash=52D3C55DD9AEDEC3AE5D90AC0599EF8D');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header{
  padding: 5px;
  background: red;
  width: 69.5%;
  margin: auto;
}

.Header_text{
  color: black;
  text-align: center;
  font-size: 100px;
}

.Main_text{
  background:#F5EBE0;
  height: 100%;
  width: 70%;
  margin: auto;
}

.UpdatesButton{
  background-color: #555;
  color: white;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 23.33%;
  margin-left: 15%;
  border: 10px solid;
  border-color: white;
}

.AboutButton{
  background-color: #555;
  color: white;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 23.33%;
  border: 10px solid;
  border-color: white;
}

.ReviewButton{
  background-color: #555;
  color: white;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 23.33%;
    border: 10px solid;
  border-color: white;
}

.RegisterButton{
  width: 16%;
  background: black;
  text-align: center;
  color: white;
}

.Register
{
  background: white;
  width: 30%;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.RegisterSubmit
{
  margin-top: 20px;
}