<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FC - REVIEWS</title>
  <link rel="stylesheet" href="/CSS/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="icon" href="img/FCLOGO4.png" type="image/png">
</head>

<body>
  <header>
    <nav>
        <ul>
            <li><a href="AdminUpdate">UPDATES</a></li>
            <li><a href="Admin">ABOUT</a></li>
            <li><a href="AdminReview">REVIEWS</a></li>
            <li><a href="AdminUsers">USERS</a></li>
          </ul>
          <ul>
            <li><a>Admin</a></li>
            <li><a href="Index">LogOut</a></li>
          </ul>
  </nav>
  </header>
  <main id="reviews">
    <h2> Reviews </h2>
    <div class="waldom">
        <form action="/AdminReview" id="reviewform" method="get"> 
        <ul>
          <% for (var i=0; i < reviews.length; i++) { %>
          <li>
            <div class = "reviewp">
                <h3> <%= reviews[i].Username %> </h3> <br>
                <p> <%= reviews[i].reguserreview %>  </p>
                <button onclick="deleteData(event, `<%= reviews[i]._id %>`)">DELETE</button>
            </div>
          </li>
          <% } %> 
        </ul>
    </form>
</div>
</main>
<script>
    function deleteData(event, id) {
  event.preventDefault();
  fetch(`/delete-data/${id}`, {
    method: 'DELETE'
  })
  .then(res => res.json())
    .then(data => {
        console.log(data);
    })
    .catch(error => console.error('Error:', error));
}
</script>
</body>
</html>