<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FC - SIGN IN</title>
  <link rel="stylesheet" href="/CSS/style.css">
  <link rel="stylesheet" href="/CSS/transition.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="icon" href="img/FCLOGO4.png" type="image/png">
  <script src= "JS/showpassjs.js"> </script>
</head>

<body>

  <div class = "transition transition-1 is-active"> </div>
  <header>
    <nav>
      <ul>
        <li><a href="AdminUpdate" class = "headbutt">UPDATES</a></li>
        <li><a href="Admin" class = "headbutt">ABOUT</a></li>
        <li><a href="AdminReview" class = "headbutt">REVIEWS</a></li>
        <li><a href="AdminUsers" class = "headbutt">USERS</a></li>
      </ul>
      <ul>
        <li><a class = "headbutt">Admin</a></li>
        <li><a href="Index" class = "headbutt">LogOut</a></li>
      </ul>
    </nav>
  </header>
  <main id="reviews">
    <h2> Reviews </h2>
    <div class="waldom">
        <form action="/AdminReview" id="reviewform" method="get"> 
          <% for (var i=0; i < reviews.length; i++) { %>
            <div class = "reviewp">
              <div class = "reviewpdiv">
                <h3> <%= reviews[i].Username %> </h3> <br>
                <p> <%= reviews[i].reguserreview %>  </p>
              </div>
            </div>
          <% } %> 
    </form>
</div>
</main>
<script>
    function deleteData(event, id) {
  event.preventDefault();
  fetch(`/delete-data/${id}`, {
    method: 'DELETE'
  })
  .then(data => {
    console.log(data);
    location.reload();
    })
    .catch(error => console.error('Error:', error));
}
</script>
</body>
</html>