<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FC - INSTRUCTION</title>
  <link rel="stylesheet" href="/CSS/style.css">
  <link rel="stylesheet" href="/CSS/transition.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="icon" href="img/FCLOGO4.png" type="image/png">
  <script src= "JS/showpassjs.js"> </script>
</head>

<body>
  <div class = "transition transition-1 is-active"> </div>
  
  <header>
    <nav>
      <ul>
        <li><a href="update" class = "headbutt">UPDATES</a></li>
        <li><a href="index" class = "headbutt">ABOUT</a></li>
        <li><a href="reviews" class = "headbutt">REVIEWS</a></li>
      </ul>
      <ul>
        <li><a href="login" class = "headbutt">LOGIN</a></li>
        <li><a href="register" class = "headbutt">SIGN IN</a></li>
      </ul>
    </nav>
  </header>
  <main id="updates">
    <h2> 1.Instrukcija lietotājiem </h2>
        <div class="ptext">
      <p> Instalēšanas instrukcija </p>
      <p>1.1 Instalējiet NodeJS savā sistēmā.</p>
      <p>1.2 Instalējiet speli no https://github.com/EZvirgzdsDP1-2/RVT-Fruit-Clicker.</p>
      <p>1.3 Palaidiet "npm install" un pēc tam "npm start" direktorijā, kurā atrodas fails app.js.</p>
      <p>1.4 Palaidiet programmu no norādītās vietnes saites</p>
    </div>
    <div class="ptext">
      <p> 2.Kā var spelet? </p>
      <p>2.1 Spiest uz koku izmantojot kursoru, lai dabūt par to augļus.</p>
      <p>2.2 Konvertē dabūtos augļus uz naudu atkarībā no akciju tirga.</p>
      <p>2.3 Uzlabot savu fermu izmantojot naudu lai varētu dabūt vairāk augļus par katru spiedienu un pelnīt augļus un naudu automātiski. </p>
    </div>
    <div class="ptext">
      <p> 3.Vietnes navigācija </p>
      <p>3.1 Ja vēlaties redzēt dažādas mūsu programmas versijas un tajā veiktās izmaiņas, pārbaudiet cilni "UPDATES".</p>
      <p>3.2 Ja vēlaties redzēt spēles apskatus vai rakstīt pats, jums jāiet uz cilni "REVIEWS".</p>
      <p>3.3 Ja vēlaties reģistrēties vietnē, dodieties uz cilni "SIGN UP" un ievadiet savus datus (noteikti atcerieties savu paroli). </p>
      <p>3.4 Ja vēlaties pieteikties savā kontā vietnē, dodieties uz cilni "LOGIN" un ievadiet savus datus (kurus ievadījāt reģistrācijas laikā). </p>
    </div>
    <div class="ptext">
      <p> Ja jums ir kādas problēmas ar spēli / jautājumi vai sūdzības, varat sazināties ar mums, izmantojot github vai atsauksmes vietnē. </p>
    </div>
    <div class="updfoot"> </div>
  </main>

</html>