<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FC - SIGN IN</title>
  <link rel="stylesheet" href="/CSS/style.css">
  <link rel="stylesheet" href="/CSS/transition.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="icon" href="img/FCLOGO4.png" type="image/png">
  <script src= "JS/showpassjs.js"> </script>
</head>

<body>

  <div class = "transition transition-1 is-active"> </div>
  <header>
    <nav>
      <ul>
        <li><a href="update" class = "headbutt">UPDATES</a></li>
        <li><a href="index" class = "headbutt">ABOUT</a></li>
        <li><a href="reviews" class = "headbutt">REVIEWS</a></li>
      </ul>
      <ul>
        <li><a href="login" class = "headbutt">LOGIN</a></li>
        <li><a href="register" class = "headbutt">SIGN UP</a></li>
      </ul>
    </nav>
  </header>
  <main id="signin">
    <div class="modwal">
      <div class="loginbox">
        <h2> SIGN UP </h2>
        <form action="/register" method="POST" id="registerform">
          <% if (registerResponse.status == "error") { %>
            <div>
                <div>
                    <h4><%= registerResponse.error %></h4>
                </div>
            </div>
        <% } %>
          <div>
            <label for="regusernameinp"><p> Username </p></label>
            <input type="text" name="regusernameinp" id="regusernameinp" required>
          </div>
          <div>
            <label for="regparoleinp"><p id="passwordid"> Password <span> <input type="checkbox" onclick="spfunc()"> Show Password </span> </p></label>
            <input type="password" name="regparoleinp" id="regparoleinp" required>
          </div>
          <div>
            <label for="regemailinp"><p id="mailid"> Email </p></label>
            <input type="email" name="regemailinp" id="regemailinp" required>
          </div>
          <div>
            <input type="submit" id="regbut" value="SIGN UP"></button>
          </div>
        </form>
        <p id="ahaa"> Already have an account? <a href="login.ejs"> Login </a> </p>
      </div>
    </div>
  </main>
</body>
<!--    <script>
    const form = document.getElementById('registerform')
    form.addEventListener('submit', registerUser)

    async function registerUser(event) {
      event.preventDefault()
      const regusernameinp = document.getElementById('regusernameinp').value
      const regparoleinp = document.getElementById('regparoleinp').value
      const regemailinp = document.getElementById('regemailinp').value

      const result = await fetch('/register', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
          regusernameinp,
          regparoleinp,
          regemailinp
        })
      }).then((res) => res.json())
      if(result.status === 'ok'){
      alert('Success')
    }else{
      alert(result.error)
    }
    }


  </script> -->

</html>