<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FC - SIGN IN</title>
  <link rel="stylesheet" href="/CSS/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="icon" href="img/FCLOGO4.png" type="image/png">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="update">UPDATES</a></li>
        <li><a href="index">ABOUT</a></li>
        <li><a href="reviews">REVIEWS</a></li>
      </ul>
      <ul>
        <li><a href="login">LOGIN</a></li>
        <li><a href="register">SIGN UP</a></li>
      </ul>
    </nav>
  </header>
  <main id="signin">
    <div class="modwal">
      <div class="loginbox">
        <h2> SIGN UP </h2>
        <form action="/register" method="POST" id="registerform">
          
          <div>
            <label for="regusernameinp"><p> Username </p></label>
            <input type="text" name="regusernameinp" id="regusernameinp" required>
          </div>
          <div>
            <label for="regparoleinp"><p id="passwordid"> Password <span> <input type="checkbox" onclick=""> Show Password </span> </p></label>
            <input type="password" name="regparoleinp" id="regparoleinp" required>
          </div>
          <div>
            <label for="regemailinp"><p id="mailid"> Email </p></label>
            <input type="email" name="regemailinp" id="regemailinp" required>
          </div>
          <div>
            <input type="submit" id="regbut" value="SIGN UP"></button>
          </div>
        </form>
        <p id="ahaa"> Already have an account? <a href="login.html"> Login </a> </p>
      </div>
    </div>
  </main>

   <script>
    const form = document.getElementById('registerform')
    form.addEventListener('submit', registerUser)

    async function registerUser(event) {
      event.preventDefault()
      const regusernameinp = document.getElementById('regusernameinp').value
      const regparoleinp = document.getElementById('regparoleinp').value
      const regemailinp = document.getElementById('regemailinp').value

      const result = await fetch('/register', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
          regusernameinp,
          regparoleinp,
          regemailinp
        })
      }).then((res) => res.json())
    }
    console.log(result)

  </script>

</html>