<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FC - SIGN IN</title>
  <link rel="stylesheet" href="/CSS/style.css">
  <link rel="stylesheet" href="/CSS/transition.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="icon" href="img/FCLOGO4.png" type="image/png">
  <script src= "JS/showpassjs.js"> </script>
</head>

<body>

  <div class = "transition transition-1 is-active"> </div>
  <header>
    <nav>
      <ul>
        <li><a href="update" class = "headbutt">UPDATES</a></li>
        <li><a href="index" class = "headbutt">ABOUT</a></li>
        <li><a href="reviews" class = "headbutt">REVIEWS</a></li>
      </ul>
      <ul>
        <li><a href="login" class = "headbutt">LOGIN</a></li>
        <li><a href="register" class = "headbutt">SIGN UP</a></li>
      </ul>
  </nav>
  </header>
  <main id="reviews">
    <h2> Reviews </h2>
    <div class="waldom">
        <form action="" id="reviewform">
              <div> 
                  <h1> Login to leave a review</h1>
                <% for (var i=0; i < reviews.length; i++) { %>
                  <div class = "reviewp">
                    <div class = "reviewpdiv">
                      <h3> <%= reviews[i].Username %> </h3> <br>
                      <p> <%= reviews[i].reguserreview %>  </p>
                    </div>
                  </div>
                <% } %> 
           <!--  <div class = "reviewp">
                <h3> Iluvfruits22 </h3> <br>
                <p> I LOVE THIS GAME! its so relaxing and fun! best game i played in a while </p>
            </div>
            <div class = "reviewp">
                <h3> KeeKRaZy </h3> <br>
                <p> This is the best game that came out this year. It has excellent graphics as well as simple and enjoyable gameplay. 
                    I can confidently rate Fruit Clicker 10 out of 10. Trust me, if you don't play this game now, you will regret this decision in the future. </p>
            </div>
            <div class = "reviewp">
                <h3> Cole_Pumpkins </h3> <br>
                <p> i think that this game is a solid 8/10. it has entertaining gameplay and good design. I recommend this game to everyone who wants to play an easy casual game. </p>
            </div>
            <div class = "reviewp">
                <h3> DanTheMan </h3> <br>
                <p> Recently my friend recommended this game to me, at first I had low expectations but when I started playing it I realized how good it really is. Be sure to try. </p>
            </div> -->
        </form>
    </div>
  </main>
  </html>